* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --color--title--purple: #34355B;
  --color--title--black: #000000;
  --color--title--white: #FFFFFF;
  --color--bg--orange: #FF9500;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #190361, #bb00ff);
	animation: gradient 10s ease infinite;
  background-size: 200% 200%;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.screen1 {
  display: grid;
  text-align: center;
  width: 42.8rem;
  height: 42.4rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background-color: #FFFFFF;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--color--title--purple);
  font-size: 2.4rem;
  font-weight: 700;
}

p {
  font-family: "DM Sans", sans-serif;
  color: var(--color--title--purple);
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph-container p {
  font-family: "Dancing Script", cursive;
  color: var(--color--title--black);
  font-size: 2.4rem;
  font-weight: 400;
}

button {
  font-family: "DM Sans", sans-serif;
  color: var(--color--title--white);
  background-color: var(--color--bg--orange);
  font-size: 1.5rem;
  font-weight: 700;
}

img {
  width: 30rem;
  height: 20rem;
}

.hide {
  display: none;
}