* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --color--title--purple: #34355B;
  --color--title--black: #000000;
  --color--title--white: #FFFFFF;
  --color--bg--orange: #FF9500;
  --color--bg--orange---300: #dd8305;
  --color--bg--gray: #E4EDF1;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #190361, #bb00ff);
	animation: gradient 10s ease infinite;
  background-size: 200% 200%;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.screen1 {
  display: grid;
  text-align: center;
  border-radius: .5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  width: 42.8rem;
  height: 42.4rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background-color: #FFFFFF;
}

.screen1 h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--color--title--purple);
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.screen1 p {
  font-family: "DM Sans", sans-serif;
  color: var(--color--title--purple);
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.screen1 img {
  width: 30rem;
  height: 20rem;
  transition: .3s ease-in-out;
}

.screen1 img:hover {
  transform: rotate(-10deg);
  cursor: pointer;
}

.screen2 {
  display: grid;
  text-align: center;
  border-radius: .5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  width: 42.8rem;
  height: 56.4rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background-color: #FFFFFF;
}

.screen2 h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--color--title--purple);
  margin-bottom: 1.7rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.screen2 p {
  font-family: "DM Sans", sans-serif;
  color: var(--color--title--purple);
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph-container p {
  font-family: "Dancing Script", cursive;
  color: var(--color--title--black);
  background-color: var(--color--bg--gray);
  box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);
  padding: 1rem;
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  animation: slideFromTop .8s ease-in-out forwards;
}

@keyframes slideFromTop {
  from {
    transform: translateY(200%) scale(0);
  }
  to {
    transform: translateY(0%) scale(1);
  }
}

.screen2 img {
  width: 30rem;
  height: 11.4rem;
  margin-bottom: 6rem;
}

button {
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: .4rem;
  color: var(--color--title--white);
  background-color: var(--color--bg--orange);
  width: 17.4rem;
  height: 5.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: .3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--color--bg--orange---300);
  cursor: pointer;
}

.hide {
  display: none;
}