* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph-container p {
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
  font-weight: 400;
}

button {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}